.employee-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
}

.table-container {
    flex: 1 1 400px;
}

.chart-container {
    flex: 1 1 400px;
    text-align: center;
    paddiing-bottom: 15px;
}

.employee-table {
    width: 100%;
    border-collapse: separate;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 2px solid;
}

.employee-table th,
.employee-table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.employee-table th {
    background-color: lightgray;
    color: white;
    text-align: left;
}

.employee-table tr.low-hours {
    background-color: #ab4441;
    color: white;
}

.employee-table tr:hover {
    background-color: #f1f1f1;
}

.employee-table tbody tr.low-hours:hover {
    background-color: #6e2d2b;
}

#downloadBtn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #47806d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#downloadBtn:hover {
    background-color: #294d40;
}

.employee-chart canvas,
.chart-container canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
}
